{% extends 'dashboard-base.html' %} {% block content %}
<!-- ======================= dashboard Detail ======================== -->

<div class="dashboard-wrap bg-light">
  <div class="dashboard-content">
    <div class="dashboard-tlbar d-block mb-5">
      <div class="row">
        <div class="colxl-12 col-lg-12 col-md-12">
          <h1 class="ft-medium">Hello, {{profile.user.username}} 🤞🏾</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item text-muted"><a href="#">Home</a></li>
              <li class="breadcrumb-item">
                <a href="#" class="theme-cl">Dashboard</a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>

    <div class="dashboard-widg-bar d-block">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
          <div class="dash-widgets py-5 px-4 bg-success rounded">
            <h2 class="ft-medium mb-1 fs-xl text-light">46</h2>
            <p class="p-0 m-0 text-light fs-md">Jobs</p>
            <i class="lni lni-empty-file"></i>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
          <div class="dash-widgets py-5 px-4 bg-purple rounded">
            <h2 class="ft-medium mb-1 fs-xl text-light">87</h2>
            <p class="p-0 m-0 text-light fs-md">Applications</p>
            <i class="lni lni-users"></i>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
          <div class="dash-widgets py-5 px-4 bg-danger rounded">
            <h2 class="ft-medium mb-1 fs-xl text-light">312</h2>
            <p class="p-0 m-0 text-light fs-md">Notifications</p>
            <i class="lni lni-bar-chart"></i>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
          <div class="dash-widgets py-5 px-4 bg-blue rounded">
            <h2 class="ft-medium mb-1 fs-xl text-light">32</h2>
            <p class="p-0 m-0 text-light fs-md">Bookmark</p>
            <i class="lni lni-heart"></i>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- ======================= dashboard Detail End ======================== -->

{% endblock content %}
